#ReactBackgroundSlider > figure {
  height: 100% !important;
  width: 85% !important;
  position: fixed !important;
  top: 0 !important;
  left: 7.5% !important;
  color: transparent !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  z-index: -1000 !important;
  backface-visibility: hidden !important;
}

@media (max-width: 64rem) {
  #ReactBackgroundSlider > figure {
    height: 100% !important;
    width: 100% !important;

    top: 0 !important;
    left: 0 !important;
  }
}
